body {
  font-family: Roboto, sans-serif;
  /*font-size: 12px;*/
}

#searchbox, #searchresults {
  min-height: 50px;
}

/* ________CSE_________ */

#searchresults .gsc-adBlock {
  max-height: 40vh !important;
  background: #f5f5f5 !important;
  border: solid 10px #f5f5f5 !important;
  overflow: auto !important;
  margin-top: 10px 0 !important;
  margin-bottom: 10px 0 !important;
}

#searchresults .gsc-adBlock iframe {
  /* */
  transform: scale(0.95);
}

#searchresults .gsc-adBlock::before {
  content: " -- Ads by Google -- ";
  font-weight: bold;
  display: block;
  margin: 10px auto;
  text-align: center;
}

/* /________CSE_________ */