body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

/* bs5 masonry */

.component {
  overflow: hidden;
  /*  width: 75%;
    height: 75%;
    transform: scale(0.75);*/
}

.component-sizer {
  /* this is the one upon whose size all other divs' width are determind by masonry. height is not done by masonry at all */
  width: 280px;
  height: 340px;
}

.component-larger {
  /* relative to -size above must be px not % */
  width: 560px;
  height: 400px;
  max-width: 99%;
}